.formSection {
  padding-bottom: 6rem;
}
.formSection h2 {
  margin-bottom: 1rem;
}
.formSection form {
  align-items: center;
  gap: 1.5rem;
}
.formSection form button {
  border: none;
  background-color: #0290ff;
  color: white;
  padding: 12px 30px;
}

.inputField {
  color: #757575;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 1rem;
  padding: 12px;
}